[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "momentum_shell_scripts"]
	path = momentum_shell_scripts
	url = https://github.com/MRS111-OS/momentum_shell_scripts.git
	branch = main
