[submodule "momentum_shell_scripts"]
	path = momentum_shell_scripts
	url = https://github.com/MRS111-OS/momentum_shell_scripts.git
	branch = main
[submodule "micro-ROS-Agent"]
	path = micro-ROS-Agent
	url = https://github.com/micro-ROS/micro-ROS-Agent.git
	branch = humble
[submodule "mqtt_agent_ros2"]
	path = mqtt_agent_ros2
	url = https://github.com/MRS111-OS/mqtt_agent_ros2.git
	branch = feature/vda5050-integration
[submodule "ros_amr_interop"]
	path = ros_amr_interop
	url = https://github.com/inorbit-ai/ros_amr_interop.git
	branch = humble-devel
[submodule "robot_firmware_interface"]
	path = robot_firmware_interface
	url = https://github.com/MRS111-OS/robot_firmware_interface.git
	branch = main
