SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ATTRS{serial}=="8C:BF:EA:86:4B:24", SYMLINK+="esp32", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", ATTRS{serial}=="d8142d2d4d7fef119d901c1cedd322a4", SYMLINK+="slidar", GROUP="dialout", MODE="0666"
