SUBSYSTEM=="tty", ATTRS{idVendor}=="303a", ATTRS{idProduct}=="1001", ATTRS{serial}=="8C:BF:EA:87:FB:60", SYMLINK+="esp32", GROUP="dialout", MODE="0666"
SUBSYSTEM=="tty", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", ATTRS{serial}=="0", SYMLINK+="slidar", GROUP="dialout", MODE="0666"
