# /etc/systemd/system/robot_bringup.service
[Unit]
Description=Robot Bringup Service
After=network.target
Requires=network.target

[Service]
User=titan
Group=titan
WorkingDirectory=/home/titan
Environment="SHELL=/bin/bash"
Environment="ROS_DISTRO=humble"

ExecStart=/bin/bash -l -c '/home/titan/robot_bringup.sh'

Environment="DISPLAY=:1"
Type=forking
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal
SyslogIdentifier=robot_bringup

[Install]
WantedBy=multi-user.target

