[Unit]
Description=Reverse SSH Tunnel for user %i
After=network.target

[Service]
User=%i
ExecStart=/home/%i/.ssh/start_reverse_ssh.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
