<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="corrected titan urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00346341261385403 -0.000431167248533336 0.0900728026787331"
        rpy="0 0 0" />
      <mass
        value="0.9205472549348" />
      <inertia
        ixx="0.00396950657190754"
        ixy="3.24338418788168E-06"
        ixz="-1.91406170260589E-05"
        iyy="0.00366159045993356"
        iyz="1.43363834056473E-06"
        izz="0.00731329773396883" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_Wheel_Link">
    <inertial>
      <origin
        xyz="-1.84573368036938E-10 -0.000289903778743869 3.6054889976378E-10"
        rpy="0 0 0" />
      <mass
        value="0.03517457019697" />
      <inertia
        ixx="1.52368425678937E-05"
        ixy="-1.93220984158401E-13"
        ixz="4.47391616489505E-10"
        iyy="2.57856997643884E-05"
        iyz="5.01662518973067E-14"
        izz="1.52372277516092E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Left_Wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Left_Wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Wheel_Joint"
    type="continuous">
    <origin
      xyz="9.9999806285E-05 0.09075 0.022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Left_Wheel_Link" />
    <axis
      xyz="0 -1 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Right_Wheel_Link">
    <inertial>
      <origin
        xyz="4.5038568647276E-09 3.98947476442091E-05 4.60698916168734E-09"
        rpy="0 0 0" />
      <mass
        value="0.0351745248993403" />
      <inertia
        ixx="1.52368272806408E-05"
        ixy="-4.77196000454709E-11"
        ixz="4.43878616252111E-10"
        iyy="2.57856661847652E-05"
        iyz="-1.11031159483215E-12"
        izz="1.52372025270438E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Right_Wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Right_Wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Wheel_Joint"
    type="continuous">
    <origin
      xyz="9.9999806285E-05 -0.090499999999896 0.022"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Right_Wheel_Link" />
    <axis
      xyz="0 -0.999999999990373 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Front_Caster_Link">
    <inertial>
      <origin
        xyz="0.000202858762101438 -1.25027969564656E-05 0.00417771992393256"
        rpy="0 0 0" />
      <mass
        value="0.00240017059084868" />
      <inertia
        ixx="8.62585863022634E-08"
        ixy="-2.17137199378588E-12"
        ixz="6.72427355946122E-13"
        iyy="8.70020657218784E-08"
        iyz="1.00206637258211E-10"
        izz="1.00839773458583E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Front_Caster_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Front_Caster_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_Caster_Joint"
    type="fixed">
    <origin
      xyz="0.0997970587698719 0 -0.0050000002459"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_Caster_Link" />
    <axis
      xyz="0 0 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Rear_Caster_Link">
    <inertial>
      <origin
        xyz="-8.24679686484142E-08 -0.000215444027096642 0.00417771992393193"
        rpy="0 0 0" />
      <mass
        value="0.00240017059084867" />
      <inertia
        ixx="8.62585863022632E-08"
        ixy="-2.17137199238169E-12"
        ixz="6.72427558480792E-13"
        iyy="8.70020657218778E-08"
        iyz="1.002066372183E-10"
        izz="1.00839773458583E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Rear_Caster_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Rear_Caster_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_Caster_Joint"
    type="fixed">
    <origin
      xyz="-0.1 0.000202941230128117 -0.0050000002459"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Rear_Caster_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="-0.000564983809988068 -1.46128257596004E-05 -0.011701390591217"
        rpy="0 0 0" />
      <mass
        value="0.165383107203662" />
      <inertia
        ixx="7.88651939711733E-05"
        ixy="4.84683790415122E-08"
        ixz="2.18471539294079E-06"
        iyy="7.51903598783223E-05"
        iyz="2.88594611593792E-08"
        izz="0.000109946791417529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Lidar_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar_Joint"
    type="continuous">
    <origin
      xyz="0.065 0 0.15165774394"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Depth_Camera_Link">
    <inertial>
      <origin
        xyz="-0.0108061666861936 4.7403567053077E-05 -0.000303648281481744"
        rpy="0 0 0" />
      <mass
        value="0.081394545807951" />
      <inertia
        ixx="6.28598789186319E-05"
        ixy="-1.39715209480315E-08"
        ixz="6.87028435282886E-08"
        iyy="5.59756075039505E-06"
        iyz="2.18441269945041E-08"
        izz="6.18868260849713E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Depth_Camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/Depth_Camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Depth_Camera_Joint"
    type="fixed">
    <origin
      xyz="0.06382528434402 -0.000223937751711724 0.20110747354824"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Depth_Camera_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.00780629628729426 -3.86226961930622E-06 -0.00102594893291395"
        rpy="0 0 0" />
      <mass
        value="0.0135199355034992" />
      <inertia
        ixx="2.55439314287458E-06"
        ixy="-3.57832008534572E-12"
        ixz="1.76756041302447E-07"
        iyy="1.59240005826386E-06"
        iyz="1.86486628036718E-10"
        izz="1.20808224334626E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://corrected titan urdf/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.130254250725601 0 0.0889713517135"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>