<robot name="cyborg2_urdf">
<!--
 ==================== BASE LINK ==================== 
-->
<link name="base_link" xmlns:xacro="http://www.ros.org/wiki/xacro">
<inertial>
<origin xyz="0.000388995106410144 -0.000141279341706429 0.0688665645440425" rpy="0 0 0"/>
<mass value="15.64730629951199"/>
<inertia ixx="0.150309156083533" ixy="-2.99010712658331E-05" ixz="-0.000120003782573757" iyy="0.254414025413635" iyz="6.4791912058523E-06" izz="0.384323256909858"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/base_link.dae"/>
</geometry>
<material name="">
<color rgba="0.964705882352941 0.964705882352941 0.952941176470588 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/base_link.dae"/>
</geometry>
</collision>
</link>
<!--
 ==================== LEFT WHEEL LINK ==================== 
-->
<link name="left_wheel_link">
<inertial>
<origin xyz="-1.13022519888901E-16 -0.00328267838330104 -1.38777878078145E-17" rpy="0 0 0"/>
<mass value="2.70332620354124"/>
<inertia ixx="0.00340221851301933" ixy="5.66785505934065E-17" ixz="-1.15638390824567E-20" iyy="0.00502830835977674" iyz="9.44159258159988E-21" izz="0.00343951566972418"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/left_wheel.dae"/>
</geometry>
<material name="">
<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/left_wheel.dae"/>
</geometry>
</collision>
</link>
<joint name="left_wheel_joint" type="continuous">
<origin xyz="-0.0012004 0.191 0.0175" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="left_wheel_link"/>
<axis xyz="0 -1 0"/>
</joint>
<!--
 ==================== RIGHT WHEEL LINK ==================== 
-->
<link name="right_wheel_link">
<inertial>
<origin xyz="-3.98100425862755E-18 0.0032826783833011 -1.38777878078145E-17" rpy="0 0 0"/>
<mass value="2.70332620354124"/>
<inertia ixx="0.00340221851301933" ixy="-1.83604893421803E-19" ixz="-1.28105693958984E-21" iyy="0.00502830835977675" iyz="-1.68924978705087E-20" izz="0.00343951566972418"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/right_wheel_link.dae"/>
</geometry>
<material name="">
<color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/right_wheel_link.dae"/>
</geometry>
</collision>
</link>
<joint name="right_wheel_joint" type="continuous">
<origin xyz="-0.00120039816402762 -0.191 0.0175" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="right_wheel_link"/>
<axis xyz="0 1 0"/>
</joint>
<!--
 ==================== FRONT LEFT CASTER LINK ==================== 
-->
<link name="front_left_caster_link">
<inertial>
<origin xyz="9.30858813696922E-07 7.11338448475263E-05 0.010592347639502" rpy="0 0 0"/>
<mass value="0.175862368916541"/>
<inertia ixx="8.07679433828747E-05" ixy="-3.59964401162195E-09" ixz="7.16940054835968E-09" iyy="0.000111300447122167" iyz="-1.50021137713447E-08" izz="7.82616781760996E-05"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/front_left.dae"/>
</geometry>
<material name="">
<color rgba="0.627450980392157 0.627450980392157 0.627450980392157 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/front_left.dae"/>
</geometry>
</collision>
</link>
<joint name="front_left_caster_joint" type="fixed">
<origin xyz="0.29072 0.16 -0.014" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="front_left_caster_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== FRONT RIGHT CASTER LINK ==================== 
-->
<link name="front_right_caster_link">
<inertial>
<origin xyz="9.12035766797992E-07 7.11208412662867E-05 0.0105923989723077" rpy="0 0 0"/>
<mass value="0.175862605970892"/>
<inertia ixx="8.07679746011245E-05" ixy="-3.63354216387153E-09" ixz="7.17087099043345E-09" iyy="0.000111300504474744" iyz="-1.50011199392777E-08" izz="7.82617506793113E-05"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/front_right.dae"/>
</geometry>
<material name="">
<color rgba="0.627450980392157 0.627450980392157 0.627450980392157 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/front_right.dae"/>
</geometry>
</collision>
</link>
<joint name="front_right_caster_joint" type="fixed">
<origin xyz="0.29072 -0.16 -0.014" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="front_right_caster_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== REAR LEFT CASTER LINK ==================== 
-->
<link name="rear_left_caster_link">
<inertial>
<origin xyz="0.585000930858809 7.11338448475263E-05 0.010592347639502" rpy="0 0 0"/>
<mass value="0.175862368916541"/>
<inertia ixx="8.07679433828748E-05" ixy="-3.59964401162187E-09" ixz="7.16940054835929E-09" iyy="0.000111300447122167" iyz="-1.50021137713433E-08" izz="7.82616781760996E-05"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/rear_left.dae"/>
</geometry>
<material name="">
<color rgba="0.627450980392157 0.627450980392157 0.627450980392157 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/rear_left.dae"/>
</geometry>
</collision>
</link>
<joint name="rear_left_caster_joint" type="fixed">
<origin xyz="-0.29427858634772 0.16 -0.0140000000000003" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="rear_left_caster_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== REAR RIGHT CASTER LINK ==================== 
-->
<link name="rear_right_caster_link">
<inertial>
<origin xyz="0.585000912035762 7.11208412662867E-05 0.0105923989723065" rpy="0 0 0"/>
<mass value="0.175862605970892"/>
<inertia ixx="8.07679746011245E-05" ixy="-3.63354216387179E-09" ixz="7.17087099043358E-09" iyy="0.000111300504474744" iyz="-1.50011199392779E-08" izz="7.82617506793113E-05"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/rear_right.dae"/>
</geometry>
<material name="">
<color rgba="0.627450980392157 0.627450980392157 0.627450980392157 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/rear_right.dae"/>
</geometry>
</collision>
</link>
<joint name="rear_right_caster_joint" type="fixed">
<origin xyz="-0.29428 -0.16 -0.014" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="rear_right_caster_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== LIDAR LINK ==================== 
-->
<link name="lidar_link">
<inertial>
<origin xyz="-0.0024869969818858 -7.98580256896231E-07 -0.0129719954853457" rpy="0 0 0"/>
<mass value="0.0350810902282031"/>
<inertia ixx="1.9431042344715E-05" ixy="1.25786951065319E-09" ixz="4.0727250375758E-08" iyy="1.93204818984074E-05" iyz="-8.99327108692352E-10" izz="3.70178943801405E-05"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/lidar_link.dae"/>
</geometry>
<material name="">
<color rgba="0.250980392156863 0.250980392156863 0.250980392156863 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/lidar_link.dae"/>
</geometry>
</collision>
</link>
<joint name="lidar_joint" type="fixed">
<origin xyz="0.0021653 0.00045874 0.13458" rpy="0 0 0"/>
<parent link="base_link"/>
<child link="lidar_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== DEPTH CAMERA LINK ==================== 
-->
<link name="depth_cam_link">
<inertial>
<origin xyz="0.064482642250883 -0.235348177523985 0.012999999999993" rpy="0 0 0"/>
<mass value="0.00429034247102725"/>
<inertia ixx="5.16068679378573E-07" ixy="-9.00020868857573E-08" ixz="9.25342039025307E-23" iyy="4.07444040874538E-07" iyz="-2.48203992665716E-23" izz="3.5663641118096E-07"/>
</inertial>
<visual>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/depth_cam_link.dae"/>
</geometry>
<material name="">
<color rgba="0.964705882352941 0.964705882352941 0.952941176470588 1"/>
</material>
</visual>
<collision>
<origin xyz="0 0 0" rpy="0 0 0"/>
<geometry>
<mesh filename="file://$(find titan_description)/meshes/cyborg_meshes/depth_cam_link.dae"/>
</geometry>
</collision>
</link>
<joint name="depth_cam_joint" type="fixed">
<origin xyz="0.378799593454069 0 0.07" rpy="0 0 -0.271478482398905"/>
<parent link="base_link"/>
<child link="depth_cam_link"/>
<axis xyz="0 0 0"/>
</joint>
<!--
 ==================== GAZEBO PLUGINS ==================== 
-->
<gazebo>
<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
<render_engine>ogre2</render_engine>
</plugin>
<plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher"> </plugin>
<!--
 ................... DIFFERENTIAL DRIVE PLUGIN ................... 
-->
<plugin filename="gz-sim-diff-drive-system" name="gz::sim::systems::DiffDrive">
<left_joint>left_wheel_joint</left_joint>
<right_joint>right_wheel_joint</right_joint>
<wheel_separation>0.382</wheel_separation>
<wheel_radius>0.075</wheel_radius>
<odom_publish_frequency>30</odom_publish_frequency>
<topic>/cmd_vel</topic>
<odom_topic>/odom</odom_topic>
</plugin>
</gazebo>
<gazebo>
<plugin filename="libignition-gazebo6-odometry-publisher-system" name="ignition::gazebo::systems::OdometryPublisher">
<odom_frame>odom</odom_frame>
<robot_base_frame>base_link</robot_base_frame>
<odom_topic>/odom</odom_topic>
<tf_topic>/tf</tf_topic>
<dimensions>2</dimensions>
<odom_publish_frequency>30</odom_publish_frequency>
</plugin>
</gazebo>
<!--
 ==================== LIDAR SENSOR ==================== 
-->
<gazebo reference="lidar_link">
<sensor name="lidar" type="gpu_lidar">
<update_rate>5</update_rate>
<visualize>true</visualize>
<ignition_frame_id>lidar_link</ignition_frame_id>
<lidar>
<scan>
<horizontal>
<samples>720</samples>
<resolution>1</resolution>
<min_angle>-3.14159</min_angle>
<max_angle>3.14159</max_angle>
</horizontal>
</scan>
<range>
<min>0.3</min>
<max>15.0</max>
<resolution>0.015</resolution>
</range>
<noise>
<type>gaussian</type>
<mean>0.0</mean>
<stddev>0.001</stddev>
</noise>
</lidar>
</sensor>
</gazebo>
<!--
 ==================== DEPTH CAMERA SENSOR ==================== 
-->
<gazebo reference="depth_cam_link">
<sensor type="depth_camera" name="kinect_camera">
<update_rate>30.0</update_rate>
<topic>kinect_camera</topic>
<ignition_frame_id>kinect_camera</ignition_frame_id>
<camera_info_topic>kinect_camera/camera_info</camera_info_topic>
<camera>
<horizontal_fov>1.57</horizontal_fov>
<image>
<width>640</width>
<height>480</height>
<format>R8G8B8</format>
</image>
<clip>
<near>0.05</near>
<far>8.0</far>
</clip>
</camera>
</sensor>
</gazebo>

<gazebo reference="front_left_caster_link">
  <mu1>0.01</mu1>
  <mu2>0.01</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
</gazebo>

<gazebo reference="front_right_caster_link">
  <mu1>0.01</mu1>
  <mu2>0.01</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
</gazebo>

<gazebo reference="rear_left_caster_link">
  <mu1>0.01</mu1>
  <mu2>0.0</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
</gazebo>

<gazebo reference="rear_right_caster_link">
  <mu1>0.01</mu1>
  <mu2>0.01</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
</gazebo>



</robot>
