<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00346341261385451 -0.000431167248533664 0.0900728026787325"
        rpy="0 0 0" />
      <mass
        value="0.920547254934808" />
      <inertia
        ixx="0.00396950657190754"
        ixy="3.24338418788141E-06"
        ixz="-1.91406170260588E-05"
        iyy="0.00366159045993356"
        iyz="1.43363834056464E-06"
        izz="0.00731329773396883" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Left_Wheel_Link">
    <inertial>
      <origin
        xyz="1.84573057182623E-10 0.000289903778743966 3.6054853547185E-10"
        rpy="0 0 0" />
      <mass
        value="0.0351745701969681" />
      <inertia
        ixx="1.52368425678937E-05"
        ixy="-1.93220957729087E-13"
        ixz="-4.47391616442003E-10"
        iyy="2.57856997643886E-05"
        iyz="-5.01967147402338E-14"
        izz="1.52372277516094E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Left_Wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Left_Wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Left_Wheel_Joint"
    type="continuous">
    <origin
      xyz="0.0001 0.09075 0.022"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Left_Wheel_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Right_Wheel_Link">
    <inertial>
      <origin
        xyz="-4.67890970090004E-09 -3.98947476232953E-05 4.60699116355823E-09"
        rpy="0 0 0" />
      <mass
        value="0.0351745248993485" />
      <inertia
        ixx="1.52368272804261E-05"
        ixy="-1.43280576436386E-12"
        ixz="-4.43878611210801E-10"
        iyy="2.57856661849818E-05"
        iyz="1.1122286304042E-12"
        izz="1.5237202527044E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Right_Wheel_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Right_Wheel_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Right_Wheel_Joint"
    type="continuous">
    <origin
      xyz="0.0001 -0.0905 0.022"
      rpy="0 0 3.1416" />
    <parent
      link="base_link" />
    <child
      link="Right_Wheel_Link" />
    <axis
      xyz="0 1 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Front_Caster_Link">
    <inertial>
      <origin
        xyz="0.000202858762101424 -1.25027969564656E-05 0.00417771992393256"
        rpy="0 0 0" />
      <mass
        value="0.00240017059084868" />
      <inertia
        ixx="8.62585863022634E-08"
        ixy="-2.17137199378608E-12"
        ixz="6.72427355946021E-13"
        iyy="8.70020657218784E-08"
        iyz="1.00206637258209E-10"
        izz="1.00839773458583E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Front_Caster_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Front_Caster_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Front_Caster_Joint"
    type="fixed">
    <origin
      xyz="0.099797 0 -0.005"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Front_Caster_Link" />
    <axis
      xyz="0 0 0" />
    <limit
      effort="0.5"
      velocity="6.67" />
  </joint>
  <link
    name="Rear_Caster_Link">
    <inertial>
      <origin
        xyz="-8.24679686484142E-08 -0.000215444027096642 0.00417771992393193"
        rpy="0 0 0" />
      <mass
        value="0.00240017059084867" />
      <inertia
        ixx="8.62585863022633E-08"
        ixy="-2.17137199238169E-12"
        ixz="6.72427558481535E-13"
        iyy="8.70020657218778E-08"
        iyz="1.002066372183E-10"
        izz="1.00839773458583E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Rear_Caster_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Rear_Caster_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Rear_Caster_Joint"
    type="fixed">
    <origin
      xyz="-0.1 0.00020294 -0.005"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Rear_Caster_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="Lidar_Link">
    <inertial>
      <origin
        xyz="-0.000564983809988068 -1.46128257595866E-05 -0.0117013905912169"
        rpy="0 0 0" />
      <mass
        value="0.165383107203662" />
      <inertia
        ixx="7.88651939711732E-05"
        ixy="4.84683790415124E-08"
        ixz="2.18471539294079E-06"
        iyy="7.51903598783223E-05"
        iyz="2.88594611593558E-08"
        izz="0.000109946791417529" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Lidar_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Lidar_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Lidar_Joint"
    type="fixed">
    <origin
      xyz="0.065 0 0.15166"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Lidar_Link" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="Depth_Camera_Link">
    <inertial>
      <origin
        xyz="-0.0108061666861936 4.7403567053077E-05 -0.000303648281481744"
        rpy="0 0 0" />
      <mass
        value="0.081394545807951" />
      <inertia
        ixx="6.28598789186319E-05"
        ixy="-1.39715209480314E-08"
        ixz="6.87028435282885E-08"
        iyy="5.59756075039505E-06"
        iyz="2.18441269945034E-08"
        izz="6.18868260849713E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Depth_Camera_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.823529411764706 0.823529411764706 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/Depth_Camera_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Depth_Camera_Joint"
    type="fixed">
    <origin
      xyz="0.063825 -0.00022394 0.20111"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="Depth_Camera_Link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.00780629628729419 -3.86226961931172E-06 -0.00102594893291387"
        rpy="0 0 0" />
      <mass
        value="0.0135199355034992" />
      <inertia
        ixx="2.55439314287458E-06"
        ixy="-3.57832008503597E-12"
        ixz="1.76756041302447E-07"
        iyy="1.59240005826388E-06"
        iyz="1.86486628035727E-10"
        izz="1.20808224334628E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TITAN_V2_TURTLEBOT_FINAL_ASSLY_UPDATED (1).SLDASM/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.13025 0 0.088971"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>